BusinessLayer/bin/
BusinessLayer/obj/
CardProcessing/bin/
CardProcessing/obj/
DataAccessLayer/bin/
DataAccessLayer/obj/
DomainModel/bin/
DomainModel/obj/
UnitTest/obj
UnitTest/bin
.vs/
WebApi/bin/
WebApi/obj/